##DATA TYPE AND STRUCTURES

1. What are data structures, and why are they important?
 - Data strutures is a way of orangizing and storing data so that it can be accessed and manipulated effectintly.

2. Difference between mutable and immutable data types with examples.

- Mutable: Can be changed after creation. Example:
a = [1, 2, 3]
a[0] = 10   # allowed

  Immutable: Cannot be changed after creation. Example:
  b = (1, 2, 3)
  b[0] = 10 → Error

3. Differences between lists and tuples in Python.

- Lists are mutable, tuples are immutable.

  Lists use [], tuples use ().

  Lists are slower, tuples are faster in iteration due to immutability.

  Lists are flexible, tuples ensure fixed data.

4. How dictionaries store data.

- Dictionaries use hash tables, where keys are hashed into indices. This allows fast lookups, insertions, and deletions on average.

5. Why use a set instead of a list?

- Sets automatically remove duplicates.

  Faster membership checking (in) due to hashing.

6. What is a string in Python, and how is it different from a list?

- A string is a sequence of characters (immutable). A list is a collection of items (mutable, can hold multiple data types).

7. How do tuples ensure data integrity?

- Since tuples are immutable, data cannot be accidentally modified, making them reliable for fixed records.

8. What is a hash table, and how does it relate to dictionaries?

- A hash table is a data structure that maps keys to values using hash functions. Python dictionaries are implemented as hash tables.

9. Can lists contain different data types?

- YES

  lst = [1, "hello", 3.5, True]

10. Why are strings immutable in Python?

- Because they are widely used and immutability ensures memory efficiency (string interning), thread-safety, and security.

11. Advantages of dictionaries over lists.

- Faster lookups with keys.

  Keys are meaningful labels (not just indices).

12. When is a tuple preferable over a list?

- When you need fixed, unchangeable data, e.g., coordinates (x,
  y).

13. How do sets handle duplicate values?
- Sets automatically remove duplicates.
  set([1,1,2,2,3]) → {1,2,3}

14. Difference of in for lists vs dictionaries.

- List: checks if the element exists.

  Dictionary: checks if the key exists.

15. Can you modify tuple elements? Why/why not?

- No, tuples are immutable. You can only replace the entire    
  tuple.

16. What is a nested dictionary? Example.

- A dictionary inside another dictionary.

  students = {"A": {"age": 20, "city": "Delhi"}}

17. Time complexity of dictionary element access.
- Average case: O(1) due to hashing.
  Worst case: O(n) if many hash collisions.

18. When are lists preferred over dictionaries?

- When order matters.

   When indexing by position is required.

19. Why are dictionaries unordered (before Python 3.7)?

- They were stored based on hash values, not insertion order.
  Since Python 3.7+, they preserve insertion order, but conceptually still rely on hashing.

20. Difference between list and dictionary in data retrieval.

- List: retrieve by index (position).

  Dictionary: retrieve by key (label).

##PRACTICAL QUESTIONS

Q1. Write a code to create a string with your name and print it

In [3]:
name = "Ankit Kumar"
print(name)

Ankit Kumar

Q2. Write a code to find the length of the string "Hello World"

In [4]:
text = "Hello World"
print(len(text))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
text = "Python Programming"
print(text[:3])

Pyt

Q4. Write a code to convert the string "hello" to uppercase

In [6]:
text = "hello"
print(text.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it

In [8]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [12]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [13]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [15]:
nums = (10, 20, 5, 15)
print(min(nums))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [16]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [17]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [18]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [19]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [20]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [22]:
d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [23]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [24]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [25]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [26]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [27]:
lst = [1, 2, 3]
tup = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, tup, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [28]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[9, 12, 62, 67, 81]

Q28. Write a code to create a list with strings and print the element at the third index

In [29]:
lst = ["one", "two", "three", "four"]
print(lst[3])

four

Q29. Write a code to combine two dictionaries into one and print the result

In [30]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set

In [31]:
lst = ["apple", "banana", "apple"]
print(set(lst))

{'apple', 'banana'}